body {
    background-image: url('../assets/images/v957-wan-15.jpg');
    background-size: cover;
}

header {
    color: rgb(53, 144, 218);
    display: flex;
    justify-content: center;
    text-shadow: 4px 3px 2px gray;
    height: 200px;
    padding-top: 5%;
    margin-bottom: 10px;
}


.card {
    background-image: url('../assets/images/sunshine-clouds-sky-during-morning-background-blue-white-pastel-heaven-soft-focus-lens-flare-sunlight-abstract-blurred-cyan-gradient-peaceful-nature-open-view-out-windows-beautiful-summer-spring.jpg');
    box-shadow: 10px 10px 5px gray;
    display: flex;
    color: bisque;
    background-size: cover;
    margin: 8px;
    font-size: small;
}

/* .card-body{
    box-shadow: 10x 10px 5px 0 (gray, .15);
} */
#searchBtn {
    background-color: rgb(53, 144, 218);
    color: bisque
}

#searchBtn:hover {
    background-color: #f0c853;
}

#fiveday {
    color: rgb(53, 144, 218);
    text-shadow: 1px 1px 1px gray;
}

/* .card-text-center{
    background-color: #dabb4aa5;
    display: flex;
   

} */
@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }

}